body {
    background-color: #F0FFF5;
    font-family: cursive;
}

a {
    margin:5px;
    margin-bottom: 20px;
}

.center-cursive-text {
    text-align: center;
    margin-top: 20px;
}

#routing-block {
    margin-bottom: 20px;
}